.RoomContainer{width: 10%;border: 15px solid green;padding: 50px;margin: 20px;}
.Container{position:absolute;left:30%;top:10%;width:70%;height:70%;}
#myMessage{display:inline-block}
#enterUsername{display:inline-block}
#usernameContainer{position:absolute;left:2%;top:2%;}
.joinButton{margin: 0;position: relative;top: 50%;left: 50%;transform: translate(-50%, -10%);}