#rightSidebar{width:25%;right:0px;position:absolute;background-color:#808080;height:100%;top:0px;}
#leaveRoom{right:0px;top:2%;position:absolute}
#pageContent{margin-right:25%;height:100%;width:75%;position:absolute;top:0px;}
#currLobby div{padding-left:20px}
#lobbyContainer{top:2%;position:absolute;left:5px;}
#messages{bottom:0%;position: absolute;height:30%;overflow:scroll;margin-bottom:0px;width:86%}
#roomTitle{top:2%;position:absolute;}
#readyButton{width:76px;}
#startReady{right:5px;top:0px;position:absolute;}
#waiting{top:40%;left:40%;position:absolute}
body{height:100vh;top:0px;position:relative}
#optionContainer{position:absolute;top:10%;width:100%;height:90%}